body {
  background-color: #3d4350;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  row-gap: 1em;
}

.slides-container {
  overflow: hidden;
  /* width: 80%; */
  max-width: 60vw;
}

.slides-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide-wrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 25%;
  border-radius: 1em;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.slide {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  border-radius: 1em;
}

.input {
  display: none;
}

.description-controls-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.descriptions {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.description {
  min-width: 400%;
  color: white;
  transition: all 0.5s ease-in-out;
  font-size: 1.2em;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.text {
  color: white;
  font-size: 1.2em;
  inline-size: 25%;
  overflow-wrap: break-word;
}

.controls {
  display: flex;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  cursor: pointer;
}

.label-bullet {
  display: block;
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  background-color: #a4b6f1;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.4s ease;
  box-sizing: border-box;
}

.label:hover .label-bullet {
  background-color: #d8dff5;
}

.label:focus .label-bullet {
  background-color: rgba(rgba(0, 0, 0, 0), green, blue, alpha);
  border: 0.1em solid #a4b6f1;
}

.label:active .label-bullet {
  border: 0.1em solid #ffffff;
  background-color: #6a77a0;
}

/* Slides scroll */
#i1:checked ~ .slides .slide-wrap {
  transform: translateX(0);
}

#i2:checked ~ .slides .slide-wrap {
  transform: translateX(-100%);
}

#i3:checked ~ .slides .slide-wrap {
  transform: translateX(-200%);
}

#i4:checked ~ .slides .slide-wrap {
  transform: translateX(-300%);
}

/* Descriptions scroll */
#i1:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(0);
}

#i2:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(-100%);
}

#i3:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(-200%);
}

#i4:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(-300%);
}

/* Label scroll */
#i1:checked
  ~ .description-controls-container
  .controls
  .label:nth-child(1)
  .label-bullet {
  background-color: rgba(0, 0, 0, 0);
  border: 0.1em solid #a4b6f1;
}

#i2:checked
  ~ .description-controls-container
  .controls
  .label:nth-child(2)
  .label-bullet {
  background-color: rgba(0, 0, 0, 0);
  border: 0.1em solid #a4b6f1;
}

#i3:checked
  ~ .description-controls-container
  .controls
  .label:nth-child(3)
  .label-bullet {
  background-color: rgba(0, 0, 0, 0);
  border: 0.1em solid #a4b6f1;
}

#i4:checked
  ~ .description-controls-container
  .controls
  .label:nth-child(4)
  .label-bullet {
  background-color: rgba(0, 0, 0, 0);
  border: 0.1em solid #a4b6f1;
}

@media (max-width: 650px) {
  .description-controls-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .descriptions {
    margin-top: 1em;
  }

  .text {
    font-size: 1em;
  }

  .slides-container {
    max-width: 100vw;
  }
}
