body {
  background-color: #3d4350;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  row-gap: 1em;
}

.slides-container {
  overflow: hidden;
  width: 40vw;
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide-wrap {
  width: 25%;
  border-radius: 1em;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.input {
  display: none;
}

.description-controls-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.descriptions {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.description {
  min-width: 400%;
  color: white;
  transition: all 0.5s ease-in-out;
}

.controls {
  display: flex;
}

.label {
  display: block;
  width: 0.8em;
  height: 0.8em;
  margin: 0.3em;
  cursor: pointer;
  background-color: #a4b6f1;
  opacity: 1;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.label:active {
  background-color: rgba(rgba(0, 0, 0, 0), green, blue, alpha);
  border: 1px solid #a4b6f1;
}

#i1:checked ~ .slides .slide-wrap {
  transform: translateX(0);
}

#i2:checked ~ .slides .slide-wrap {
  transform: translateX(-100%);
}

#i3:checked ~ .slides .slide-wrap {
  transform: translateX(-200%);
}

#i4:checked ~ .slides .slide-wrap {
  transform: translateX(-300%);
}

#i1:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(0);
}

#i2:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(-100%);
}

#i3:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(-200%);
}

#i4:checked ~ .description-controls-container .descriptions .description {
  transform: translateX(-300%);
}
